.birthDateAgeWrapper{
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  flex-wrap: wrap;

  :global(.radio).selected span.title{
    font-weight: bold;
  }
}


.mainWrapper{
  max-width: 60em;

  :global(.input){
    width: 300px;
  }
}

.dateInputWrapper :global(.icon)  :global(svg.svg-inline--fa){
  height: 100%;
}

.radioList {
  label {
    display: block;

    & + label {
      margin-left: 0;
      margin-top: .5em;
    }
  }
  .selected .title{
    font-weight: bold;
  }


  :global(.radio){
    :global(svg.svg-inline--fa){
      margin-left: .5em;
    }
  }

}

.confirmButtonGroup{
  margin-top: 2em;
}

.resultsPanel{
  margin-top: 2em;
  :global(.panel-block) {
    flex-direction: column;
    align-items: start;
  }
  :global(.field + .field){
    margin-top: 1em;
  }

  .results{
    overflow: auto;
    max-height: 50em;

    table{
      table-layout: fixed;
      th{
        text-align: center;
        &:first-of-type{
          width: 60px;
        }
      }

      tr.checked{
         td{
           position: relative;

           &:not(:first-of-type):before {
             content: " ";
             position: absolute;
             top: 50%;
             left: 0;
             border-bottom: 1px solid #111;
             width: 100%;
             z-index: 1;
           }
        }
      }
    }
  }
}


