.container{

}

.confirmButtonGroup{

}

.birthIdInput{
  width: 300px;
}

.resultPanel{
  text-align: center;
  margin-block: 2em;
}

.result{
  font-size: 1.5em;
  font-weight: bold;
}

.resultValid{
  color: green;
}

.resultInvalid{
  color: red;
}

